* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.form_card {
    margin: auto;
    width: 300px;
    height: 400px;
   padding: 1rem;
   margin-top: 2rem;
   border: 0.1px solid #DBDBDB;
}
.form_card .title  {
    text-align: center;
    

}
.form_card input {
    width: 95%;
    height: 40px;
    background-color: #FAFAFA ;
    border: 0.1px solid #DBDBDB;
    padding-left: 1rem;
    
}
button {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #4CB5F9;
    border: none;
    color: white;
    font-size: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
        
}
.logo {
    width: 180px;
}
h3 {
    font-size: 0.9rem;
    font-weight: 400;
}
.linkList {

    color: dodgerblue;
    text-decoration: underline;
    
}
h5 {
    font-weight: 500;
}