

.note {
    width: 500px;
    height: 400px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    position: absolute;
    top: 50%;
    left: 50%;   
    transform: translate(-50%, -50%);
    padding: 1rem;
    border-radius: 10px;
    background-color: white;
    z-index: 100000000;
    transition: 0.4s ease;
    
}
.note .submitbutton {
    width: 100px;
    background-color: blue;
    height: 50px;

}
.titleInput {
    width: 100%;
    border: 1px solid gray;
    border-radius: 4px;
    height: 30px;
    background-color: #E3E3E3;
    margin-bottom: 10px;
    outline: none;
    
    
}
.textInput {
    width: 500px;
    height: 100px;
    resize: none;
    background-color: #E3E3E3;
    outline:none;
    border-radius: 4px;
}
.topofthenewnote {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topofthenewnote i {
    font-size: 30px;
    /* transform: translate(250%); */
    color: red;
}
.topofthenewnote button {
    width: 40px;
    height: 40px;
    padding: 0;
    padding: none;
    background-color: rgb(255, 255, 255);
}

.categorySelector {
    display: flex;
    justify-content: space-between;
}
