* {
  margin:0;
  padding: 0;
}

.notemore_div {
  width: 100px;
  display: flex;
  gap: 2px;
  flex-direction: column;
  border-radius: 6px;
  height: 150px;
  position: absolute;
  background-color: #f5f5f5;
  top: 10px;
  right: 40px;
  padding: 2px;
  transition: 0.4s ease;
}
.notemore_div button {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  color: black;
  transition: 0.1s ease
}
.notemore_div button:hover {

  background-color: #b5b4b409;

}
.notemore_div p {
  font-size: 14px;
  color: gray;
  
}