* {
  margin: 0;
  padding: 0;
}

.searchNoteComponent {
 border-bottom: 1px solid gray;
  width: 100%;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
}
.searchNoteComponent:hover {
  background-color: gainsboro;
}
.badge {

}