.settingsCard {
    width: 70vw;
    height: 90vh;
    
    margin: auto;
   
}
.settingsMain {
    display: flex;
}

.button {
   width: 200px;
   transition: 0.1s linear;

}
.button:hover {
    background-color: dodgerblue;
}
.deleting_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;

}