* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #E8E8E6;
}


.notee {
  padding: 1rem;
  width: 300px;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  position: relative;
  z-index: 10;
}

.notes_div {
  display: grid;
  margin: 1rem;
  grid-template-columns: repeat(3, 0.8fr);
  grid-template-rows: repeat(3, 200px);
  /* Change the height as needed */
  gap: 20px;
  z-index: 1; 
}
.noteDate {
  position: absolute;
  right: 10px;
  font-size: 14px;
  bottom: 10px;
  font-style: italic;
}
.topOfNote {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topOfNote i {
  color: rgba(0, 0, 0, 0.382);
}.topOfNote i:hover {
  color: black;
}
.category {
  background-color: dodgerblue;
  position: absolute;
top: 2px;

border-radius: 9px;
left: auto;
}
.category i {
  color: white;
  padding: 3px;
}
.ellipsis {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 30px;
  background-color: rgb(255, 255, 255);
}
.ellipsis:hover {
  background-color: rgba(128, 128, 128, 0.092);
}

.note_description{
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.empty-icon {
  font-size: 10rem;
  opacity: 40%;
}
.EmptyNotes {
  margin: 0 auto;
  width: 400px;
  height: 400px;
  text-align: center;
  opacity: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.EmptyNotes button {
  width: 50px;
  padding: 0;
  margin: auto;
}